name: DEV Back End Deploy

on:
  push:
    branches: [ dev ]

jobs:
  deploy:
    name: Build, Deploy to S3 bucket
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
          
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: ./backend
        shell: bash

      - name: Build
        run: ./gradlew clean build
        working-directory: ./backend
        shell: bash
        
        #codedeploy를 하기 위해서는 S3를 거쳐야하는데 옮겨주기 위해서 압축 파일을 만들어주고 옮긴다.
      - name: make zip file
        run: zip -qq -r ./build.zip .
        shell: bash
        working-directory: ./backend
        
        
        # AWS 서비스를 사용하기 위한 인증 과정 setting 안에 secrets값 등록
      - name: Configure AWS credentials
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: joomak-backend-jar
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_S3_IAM_BACKEND_DEPLOY_ACCESS_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_S3_IAM_BACKEND_DEPLOY_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_S3_REGION }}
      
      # 배포할 zip 파일을 s3에 업로드
      - name: Upload to S3
        run: aws s3 cp --region ${{ secrets.AWS_S3_REGION }} ./$build.zip s3://joomak-backend-jar/build.zip
        working-directory: ./backend
        
      - name: Code Deploy
        run: aws deploy create-deployment --application-name joomak-backend-deploy --deployment-config-name CodeDeployDefault.OneAtATime --deployment-group-name 	joomak-backend-deploy-group --s3-location bucket=joomak-backend-jar,bundleType=zip,key=build.zip
