name: Front End Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    name: Build, Deploy to S3 bucket
    runs-on: [ubuntu-latest]
    env:
      working-directory: ./frontend

    strategy:
      matrix:
        node-version: [12.16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          
      - name: Npm install
        run: npm install
        working-directory: ${{ env.working-directory }}

      - name: Build
        run: npm run build
        working-directory: ${{ env.working-directory }}

      - name: Transfer to S3 for serving static
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: '${{secrets.AWS_S3_BUCKET_NAME}}'
          AWS_ACCESS_KEY_ID: '${{secrets.AWS_S3_IAM_MANAGER_KEY_ID}}'
          AWS_SECRET_ACCESS_KEY: '${{secrets.AWS_S3_IAM_MANAGER_ACCESS_KEY}}'
          AWS_REGION: '${{secrets.AWS_S3_REGION}}'
          SOURCE_DIR: './frontend/dist'
